@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    background-color: #d3d3d3;
}

.login__images{
    height: 80%;
    width: 80%;
}

.content{
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 15%;
    background-color: rgb(255, 255, 255);
    padding: 4rem 1rem 4rem 1rem;
    box-shadow: 0 0 5px 5px rgba(0,0,0, .05);
    border-radius: 10;
    -webkit-border-radius: 2%;
    -moz-border-radius: 10;
    -ms-border-radius: 10;
    -o-border-radius: 10;
}

.signin-text{
    font-style: normal;
    font-weight: 600 !important;

}

button.btn.btn-logindosen{
    background-color: #73cfcf;
    border: 1px solid;
    color: white;
    display: inline-block;
    padding: 3%;
    box-shadow: 6px 10px;
}

.form-control{
    box-shadow: 1px 2px grey;
}