#nav-title{
    color: rgb(94, 94, 94);
}

nav{
    background-color: #62a9c5;
}

.dropdown-item{
    color: white;
}

a.nav-link.text-light{
    font-size: 14px;
}

/* button.btn-primary{
    font-size: 40px;
} */