.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
}

.title {
    color: grey;
    font-size: 18px;
}

.name__pad{
    padding-top: 10%;
}

button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}

/* for card edit */
button:hover, a:hover {
    opacity: 0.7;
}

div.card.edit{
    width: 1000px;
    margin-right: 50%;
    margin-top: 20%;
    box-shadow: 6px;
}

a.btn.btn-primary.submitedit{
    width: 150px;
    box-shadow: 5px 10px;
}

div.card.pad__card{
    margin-top: 60px;
    margin-right: 50%;
    padding-bottom: 10px;
}

a.btn.btn-dark.btn__pad{
    margin-left: 80px;
    margin-right: 80px;
}

.btn.btn-primary.submit__btn{
    margin-bottom: 5%;
}

a.btn.btn-danger.submit__btn{
    margin-bottom: 5%;
}